body
{
	height : 600px;
	width : 960px;
	margin-left: 196px;
	margin-top: 34px;
	background: url('../images/bg.jpg') no-repeat center center fixed; 
  	-webkit-background-size: 960px 600px;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: 960px 600px;
}

.hidden {
	display: none;
}

.left-side, .content, .right-side {
	float: left;
}

.left-side {
	margin-left: 20px;
	margin-right: 24px;
	width: 238px;
}

/* BUTTON START */
#btn-start
{
	margin-top : 58px;
	margin-bottom : 46px;
	margin-left : 65px;
}

/* SPIELANLEITUNG */
@font-face 
{
    font-family: Quantico-Regular;
    src: url('../fonts/Quantico-Regular.otf');
}

@font-face 
{
    font-family: KillerElephant;
    src: url('../fonts/killerelephant.ttf');
}

.spielanleitung {
	width: 234px;
	height : 387px;
}

.spielanleitung  h2
{
	padding-top : 17px;
	padding-left : 16px;
	margin-bottom : 0px;
	font-family : KillerElephant;
	color : #AC678C;
	font-size : 12.61pt;
	cursor : pointer;
	background-image: url(../images/spielanleitungBG-1.png);
	background-size: 234px 39px;
}

.spielanleitung p
{
	padding-left : 16px;
	padding-top : 18px;
	margin-top : 0px;
	margin-bottom : 0px;
	font-family : Quantico-Regular;
	font-size : 10pt;
	color : #2C3D49;
	background-image: url(../images/spielanleitungBG-2.png);
	background-size: 234px 94px;
}

.spielanleitung ol
{
	margin-top : 0px;
	margin-bottom : 0px;
	padding-left : 35px;
	padding-right : 9px;
	background-image: url(../images/spielanleitungBG-3.png);
	background-size: 234px 247px;
}

.spielanleitung li
{
	font-family : Quantico-Regular;
	font-size : 10pt;
	margin-top : 0px;
	margin-bottom : 0px;
	color : #2C3D49;
}


/*END OF SPIELANLEITUNG */
.content
{
	margin : 0;
	padding-top: 60px;
	width : 462px;
}

.content table
{
	height : 443px;
	width : 100%;
	border-spacing : 0;
}

.content table tr td
{
	border : none;
	text-align : center;
	height : 16%; 
	width : 16%;
	border-spacing : 0;
}

td img
{
	display: block;
}

.content table tr:not(:first-child) td:not(:last-child).man
{ 
	background: url('../images/man.png') center no-repeat;
}

.content table tr:not(:first-child) td:not(:last-child).man.dotted
{ 
	background: url('../images/dot.png') center no-repeat, url('../images/man.png') center no-repeat;
}

.content table tr:not(:first-child) td:not(:last-child).man.left
{ 
	background: url('../images/left.png') center no-repeat, url('../images/man.png') center no-repeat;
}

.content table tr:not(:first-child) td:not(:last-child).man.right
{ 
	background: url('../images/right.png') center no-repeat, url('../images/man.png') center no-repeat;
}

.content table tr:not(:first-child) td:not(:last-child).man.left.right
{ 
	background: url('../images/hor.png') center no-repeat, url('../images/man.png') center no-repeat;
}

.content table tr:not(:first-child) td:not(:last-child).man.left.up
{ 
	background: url('../images/left-up.png') center no-repeat, url('../images/man.png') center no-repeat;
}

.content table tr:not(:first-child) td:not(:last-child).man.left.down
{ 
	background: url('../images/left-down.png') center no-repeat, url('../images/man.png') center no-repeat;
}

.content table tr:not(:first-child) td:not(:last-child).man.right.up
{ 
	background: url('../images/right-up.png') center no-repeat, url('../images/man.png') center no-repeat;
}

.content table tr:not(:first-child) td:not(:last-child).man.right.down
{ 
	background: url('../images/right-down.png') center no-repeat, url('../images/man.png') center no-repeat;
}

.content table tr:not(:first-child) td:not(:last-child).man.up
{ 
	background: url('../images/up.png') center no-repeat, url('../images/man.png') center no-repeat;
}

.content table tr:not(:first-child) td:not(:last-child).man.down
{ 
	background: url('../images/down.png') center no-repeat, url('../images/man.png') center no-repeat;
}

.content table tr:not(:first-child) td:not(:last-child).man.up.down
{ 
	background: url('../images/ver.png') center no-repeat, url('../images/man.png') center no-repeat;
}

.content table tr:not(:first-child) td:not(:last-child).woman1
{ 
	background: url('../images/woman1.png') center no-repeat;
}

.content table tr:not(:first-child) td:not(:last-child).woman1.dotted
{ 
	background: url('../images/dot.png') center no-repeat, url('../images/woman1.png') center no-repeat;
}

.content table tr:not(:first-child) td:not(:last-child).woman1.left
{ 
	background: url('../images/left.png') center no-repeat, url('../images/woman1.png') center no-repeat;
}

.content table tr:not(:first-child) td:not(:last-child).woman1.right
{ 
	background: url('../images/right.png') center no-repeat, url('../images/woman1.png') center no-repeat;
}

.content table tr:not(:first-child) td:not(:last-child).woman1.left.right
{ 
	background: url('../images/hor.png') center no-repeat, url('../images/woman1.png') center no-repeat;
}

.content table tr:not(:first-child) td:not(:last-child).woman1.left.up
{ 
	background: url('../images/left-up.png') center no-repeat, url('../images/woman1.png') center no-repeat;
}

.content table tr:not(:first-child) td:not(:last-child).woman1.left.down
{ 
	background: url('../images/left-down.png') center no-repeat, url('../images/woman1.png') center no-repeat;
}

.content table tr:not(:first-child) td:not(:last-child).woman1.right.up
{ 
	background: url('../images/right-up.png') center no-repeat, url('../images/woman1.png') center no-repeat;
}

.content table tr:not(:first-child) td:not(:last-child).woman1.right.down
{ 
	background: url('../images/right-down.png') center no-repeat, url('../images/woman1.png') center no-repeat;
}

.content table tr:not(:first-child) td:not(:last-child).woman1.up
{ 
	background: url('../images/up.png') center no-repeat, url('../images/woman1.png') center no-repeat;
}

.content table tr:not(:first-child) td:not(:last-child).woman1.down
{ 
	background: url('../images/down.png') center no-repeat, url('../images/woman1.png') center no-repeat;
}

.content table tr:not(:first-child) td:not(:last-child).woman1.up.down
{ 
	background: url('../images/ver.png') center no-repeat, url('../images/woman1.png') center no-repeat;
}

.content table tr:not(:first-child) td:not(:last-child).woman2
{ 
	background: url('../images/woman2.png') center no-repeat;
}

.content table tr:not(:first-child) td:not(:last-child).woman2.dotted
{ 
	background: url('../images/dot.png') center no-repeat, url('../images/woman2.png') center no-repeat;
}

.content table tr:not(:first-child) td:not(:last-child).woman2.left
{ 
	background: url('../images/left.png') center no-repeat, url('../images/woman2.png') center no-repeat;
}

.content table tr:not(:first-child) td:not(:last-child).woman2.right
{ 
	background: url('../images/right.png') center no-repeat, url('../images/woman2.png') center no-repeat;
}

.content table tr:not(:first-child) td:not(:last-child).woman2.left.right
{ 
	background: url('../images/hor.png') center no-repeat, url('../images/woman2.png') center no-repeat;
}

.content table tr:not(:first-child) td:not(:last-child).woman2.left.up
{ 
	background: url('../images/left-up.png') center no-repeat, url('../images/woman2.png') center no-repeat;
}

.content table tr:not(:first-child) td:not(:last-child).woman2.left.down
{ 
	background: url('../images/left-down.png') center no-repeat, url('../images/woman2.png') center no-repeat;
}

.content table tr:not(:first-child) td:not(:last-child).woman2.right.up
{ 
	background: url('../images/right-up.png') center no-repeat, url('../images/woman2.png') center no-repeat;
}

.content table tr:not(:first-child) td:not(:last-child).woman2.right.down
{ 
	background: url('../images/right-down.png') center no-repeat, url('../images/woman2.png') center no-repeat;
}

.content table tr:not(:first-child) td:not(:last-child).woman2.up
{ 
	background: url('../images/up.png') center no-repeat, url('../images/woman2.png') center no-repeat;
}

.content table tr:not(:first-child) td:not(:last-child).woman2.down
{ 
	background: url('../images/down.png') center no-repeat, url('../images/woman2.png') center no-repeat;
}

.content table tr:not(:first-child) td:not(:last-child).woman2.up.down
{ 
	background: url('../images/ver.png') center no-repeat, url('../images/woman2.png') center no-repeat;
}

.content table tr:not(:first-child) td:not(:last-child).man.purple
{ 
	background: url('../images/man-purple.png') center no-repeat;
}

.content table tr:not(:first-child) td:not(:last-child).man.purple.dotted
{ 
	background: url('../images/dot.png') center no-repeat, url('../images/man-purple.png') center no-repeat;
}

.content table tr:not(:first-child) td:not(:last-child).man.purple.left
{ 
	background: url('../images/left.png') center no-repeat, url('../images/man-purple.png') center no-repeat;
}

.content table tr:not(:first-child) td:not(:last-child).man.purple.right
{ 
	background: url('../images/right.png') center no-repeat, url('../images/man-purple.png') center no-repeat;
}

.content table tr:not(:first-child) td:not(:last-child).man.purple.left.right
{ 
	background: url('../images/hor.png') center no-repeat, url('../images/man-purple.png') center no-repeat;
}

.content table tr:not(:first-child) td:not(:last-child).man.purple.left.up
{ 
	background: url('../images/left-up.png') center no-repeat, url('../images/man-purple.png') center no-repeat;
}

.content table tr:not(:first-child) td:not(:last-child).man.purple.left.down
{ 
	background: url('../images/left-down.png') center no-repeat, url('../images/man-purple.png') center no-repeat;
}

.content table tr:not(:first-child) td:not(:last-child).man.purple.right.up
{ 
	background: url('../images/right-up.png') center no-repeat, url('../images/man-purple.png') center no-repeat;
}

.content table tr:not(:first-child) td:not(:last-child).man.purple.right.down
{ 
	background: url('../images/right-down.png') center no-repeat, url('../images/man-purple.png') center no-repeat;
}

.content table tr:not(:first-child) td:not(:last-child).man.purple.up
{ 
	background: url('../images/up.png') center no-repeat, url('../images/man-purple.png') center no-repeat;
}

.content table tr:not(:first-child) td:not(:last-child).man.purple.down
{ 
	background: url('../images/down.png') center no-repeat, url('../images/man-purple.png') center no-repeat;
}

.content table tr:not(:first-child) td:not(:last-child).man.purple.up.down
{ 
	background: url('../images/ver.png') center no-repeat, url('../images/man-purple.png') center no-repeat;
}

.content table tr:not(:first-child) td:not(:last-child).woman1.purple
{ 
	background: url('../images/woman1-purple.png') center no-repeat;
}

.content table tr:not(:first-child) td:not(:last-child).woman1.purple.dotted
{ 
	background: url('../images/dot.png') center no-repeat, url('../images/woman1-purple.png') center no-repeat;
}

.content table tr:not(:first-child) td:not(:last-child).woman1.purple.left
{ 
	background: url('../images/left.png') center no-repeat, url('../images/woman1-purple.png') center no-repeat;
}

.content table tr:not(:first-child) td:not(:last-child).woman1.purple.right
{ 
	background: url('../images/right.png') center no-repeat, url('../images/woman1-purple.png') center no-repeat;
}

.content table tr:not(:first-child) td:not(:last-child).woman1.purple.left.right
{ 
	background: url('../images/hor.png') center no-repeat, url('../images/woman1-purple.png') center no-repeat;
}

.content table tr:not(:first-child) td:not(:last-child).woman1.purple.left.up
{ 
	background: url('../images/left-up.png') center no-repeat, url('../images/woman1-purple.png') center no-repeat;
}

.content table tr:not(:first-child) td:not(:last-child).woman1.purple.left.down
{ 
	background: url('../images/left-down.png') center no-repeat, url('../images/woman1-purple.png') center no-repeat;
}

.content table tr:not(:first-child) td:not(:last-child).woman1.purple.right.up
{ 
	background: url('../images/right-up.png') center no-repeat, url('../images/woman1-purple.png') center no-repeat;
}

.content table tr:not(:first-child) td:not(:last-child).woman1.purple.right.down
{ 
	background: url('../images/right-down.png') center no-repeat, url('../images/woman1-purple.png') center no-repeat;
}

.content table tr:not(:first-child) td:not(:last-child).woman1.purple.up
{ 
	background: url('../images/up.png') center no-repeat, url('../images/woman1-purple.png') center no-repeat;
}

.content table tr:not(:first-child) td:not(:last-child).woman1.purple.down
{ 
	background: url('../images/down.png') center no-repeat, url('../images/woman1-purple.png') center no-repeat;
}

.content table tr:not(:first-child) td:not(:last-child).woman1.purple.up.down
{ 
	background: url('../images/ver.png') center no-repeat, url('../images/woman1-purple.png') center no-repeat;
}

.content table tr:not(:first-child) td:not(:last-child).woman2.purple
{ 
	background: url('../images/woman2-purple.png') center no-repeat;
}

.content table tr:not(:first-child) td:not(:last-child).woman2.purple.dotted
{ 
	background: url('../images/dot.png') center no-repeat, url('../images/woman2-purple.png') center no-repeat;
}

.content table tr:not(:first-child) td:not(:last-child).woman2.purple.left
{ 
	background: url('../images/left.png') center no-repeat, url('../images/woman2-purple.png') center no-repeat;
}

.content table tr:not(:first-child) td:not(:last-child).woman2.purple.right
{ 
	background: url('../images/right.png') center no-repeat, url('../images/woman2-purple.png') center no-repeat;
}

.content table tr:not(:first-child) td:not(:last-child).woman2.purple.left.right
{ 
	background: url('../images/hor.png') center no-repeat, url('../images/woman2-purple.png') center no-repeat;
}

.content table tr:not(:first-child) td:not(:last-child).woman2.purple.left.up
{ 
	background: url('../images/left-up.png') center no-repeat, url('../images/woman2-purple.png') center no-repeat;
}

.content table tr:not(:first-child) td:not(:last-child).woman2.purple.left.down
{ 
	background: url('../images/left-down.png') center no-repeat, url('../images/woman2-purple.png') center no-repeat;
}

.content table tr:not(:first-child) td:not(:last-child).woman2.purple.right.up
{ 
	background: url('../images/right-up.png') center no-repeat, url('../images/woman2-purple.png') center no-repeat;
}

.content table tr:not(:first-child) td:not(:last-child).woman2.purple.right.down
{ 
	background: url('../images/right-down.png') center no-repeat, url('../images/woman2-purple.png') center no-repeat;
}

.content table tr:not(:first-child) td:not(:last-child).woman2.purple.up
{ 
	background: url('../images/up.png') center no-repeat, url('../images/woman2-purple.png') center no-repeat;
}

.content table tr:not(:first-child) td:not(:last-child).woman2.purple.down
{ 
	background: url('../images/down.png') center no-repeat, url('../images/woman2-purple.png') center no-repeat;
}

.content table tr:not(:first-child) td:not(:last-child).woman2.purple.up.down
{ 
	background: url('../images/ver.png') center no-repeat, url('../images/woman2-purple.png') center no-repeat;
}

/* RIGHT SIDE */
.right-side{
	margin-left:0px;
	margin-right:0px;
	height:600px;
	width:216px;
	background:url('../images/connector-splat.png');
	background-repeat:no-repeat;
	background-size : 219px 248px;
}

.counter{
	margin-top:70px;
	margin-right:40px;
	
	font-size:24px;
	font-family : KillerElephant;
	text-align:right;
	
	color : white;
}


.counter.blinking{
	-webkit-animation: blinkingText 0.5s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction:alternate;
	-webkit-animation-timing-function:linear;
	animation: blinkingText 0.5s;
	animation-iteration-count: infinite;
	animation-direction:alternate;
	animation-timing-function:linear;
}


/* ANIMATION */
@-webkit-keyframes blinkingText{
   0% {color:white;}
   100% {color:red;}
}

@keyframes blinkingText{
   from{color:white;}
   to {color:red;}
}

#btn-ziel{
	margin-top:325px;
}

/*	TEXT-CHART-1	*/
#text-chart-1
{
	position : absolute;
	visibility : visible;
	margin-top : 123px;
	margin-left : 279px;
}

#text-chart-2
{
	position : absolute;
	visibility : visible;
	margin-top : 123px;
	margin-left : 279px;
}