body
{
	max-height : 100%;
	min-height : 100%;
	max-width : 100%;
	min-width: 100%;
	margin: 0;
	background: url('../images/bg.jpg') no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.hidden {
	display: none;
}

.left-side, .content, .right-side {
	float: left;
}

.left-side {
	margin-left: 20px;
	margin-right: 24px;
	width: 238px;
}

/* SPIELANLEITUNG */
@font-face 
{
    font-family: Quantico-Regular;
    src: url('../fonts/Quantico-Regular.ttf');
}

@font-face 
{
    font-family: KillerElephant;
    src: url('../fonts/killerelephant.ttf');
}

.spielanleitung {
	background-image: url(../images/spielanleitungBG.png);
	width: 234px;
	height : 387px;
}

.spielanleitung  h2
{
	padding-top : 17px;
	padding-left : 16px;
	margin-bottom : 0px;
	font-family : KillerElephant;
	color : #AC678C;
	font-size : 12.61pt;
}

.spielanleitung p
{
	padding-left : 16px;
	margin-top : 18px;
	margin-bottom : 0px;
	font-family : Quantico-Regular;
	font-size : 10pt;
	color : #2C3D49;
}

.spielanleitung ol
{
	margin-top : 0px;
	margin-bottom : 0px;
	padding-left : 35px;
	padding-right : 9px;
}

.spielanleitung li
{
	font-family : Quantico-Regular;
	font-size : 10pt;
	margin-top : 0px;
	margin-bottom : 0px;
	color : #2C3D49;
}


/*END OF SPIELANLEITUNG */
.content
{
	margin : 0;
	width : 462px;
}

.content table
{
	height : 443px;
	width : 100%;
	border-spacing : 0;
}

.content table tr td
{
	border : none;
	text-align : center;
	height : 16%; 
	width : 16%;
	border-spacing : 0;
}

td img
{
	display: block;
}

.content table tr:not(:first-child) td:not(:last-child).man
{ 
	background: url('../images/man.png') center no-repeat;
}

.content table tr:not(:first-child) td:not(:last-child).woman1
{ 
	background: url('../images/woman1.png') center no-repeat;
}

.content table tr:not(:first-child) td:not(:last-child).woman2
{ 
	background: url('../images/woman2.png') center no-repeat;
}

.content table tr:not(:first-child) td:not(:last-child).man.purple
{ 
	background: url('../images/man-purple.png') center no-repeat;
}

.content table tr:not(:first-child) td:not(:last-child).woman1.purple
{ 
	background: url('../images/woman1-purple.png') center no-repeat;
}

.content table tr:not(:first-child) td:not(:last-child).woman2.purple
{ 
	background: url('../images/woman2-purple.png') center no-repeat;
}