body
{
	height : 87%;
	width : 99%;
}

.content
{
	margin : 5% auto;
	height : 90%;
	width : 40%;
}

.content table
{
	height : 630px;
	width : 630px;
	border-spacing : 0;
}

.content table tr td
{
	border : 1px solid black;
	text-align : center;
	height : 90px; 
	width : 90px;
	border-spacing : 0;
}

td img
{
	width: 100%;
	height: 100%;
}

.content table tr:not(:first-child) td:not(:last-child)
{ 
	background: url('../images/blue-tile.png') center;
}

.content table tr:not(:first-child) td:not(:last-child).pink
{ 
	background: url('../images/pink-tile.png') center;
}

.content table tr:not(:first-child) td:not(:last-child).pink.up
{ 
	background: url('../images/pink-up.png') center;
}

.content table tr:not(:first-child) td:not(:last-child).pink.down
{ 
	background: url('../images/pink-down.png') center;
}

.content table tr:not(:first-child) td:not(:last-child).pink.left
{ 
	background: url('../images/pink-left.png') center;
}

.content table tr:not(:first-child) td:not(:last-child).pink.right
{ 
	background: url('../images/pink-right.png') center;
}

.content table tr:not(:first-child) td:not(:last-child).pink.left.up
{ 
	background: url('../images/pink-left-up.png') center;
}

.content table tr:not(:first-child) td:not(:last-child).pink.left.down
{ 
	background: url('../images/pink-down.png') center;
}

.content table tr:not(:first-child) td:not(:last-child).pink.right.up
{ 
	background: url('../images/pink-right-up.png') center;
}

.content table tr:not(:first-child) td:not(:last-child).pink.right.down
{ 
	background: url('../images/pink-right-down.png') center;
}

.content table tr:not(:first-child) td:not(:last-child).pink.left.right
{ 
	background: url('../images/pink-hor.png') center;
}

.content table tr:not(:first-child) td:not(:last-child).pink.up.down
{ 
	background: url('../images/pink-ver.png') center;
}

.content table tr:not(:first-child) td:not(:last-child).up
{ 
	background: url('../images/blue-up.png') center;
}

.content table tr:not(:first-child) td:not(:last-child).down
{ 
	background: url('../images/blue-down.png') center;
}

.content table tr:not(:first-child) td:not(:last-child).left
{ 
	background: url('../images/blue-left.png') center;
}

.content table tr:not(:first-child) td:not(:last-child).right
{ 
	background: url('../images/blue-right.png') center;
}

.content table tr:not(:first-child) td:not(:last-child).left.up
{ 
	background: url('../images/blue-left-up.png') center;
}

.content table tr:not(:first-child) td:not(:last-child).left.down
{ 
	background: url('../images/blue-left-down.png') center;
}

.content table tr:not(:first-child) td:not(:last-child).right.up
{ 
	background: url('../images/blue-right-up.png') center;
}

.content table tr:not(:first-child) td:not(:last-child).right.down
{ 
	background: url('../images/blue-right-down.png') center;
}

.content table tr:not(:first-child) td:not(:last-child).left.right
{ 
	background: url('../images/blue-hor.png') center;
}

.content table tr:not(:first-child) td:not(:last-child).up.down
{ 
	background: url('../images/blue-ver.png') center;
}