body
{
	height : 87%;
	width : 99%;
	background: #fff url('../images/bg.jpg') round;
}

.information, .content {
	float: left;
}

.content
{
	margin : 0;
	height : 90%;
	width : 40%;
}

.content table
{
	height : 630px;
	width : 630px;
	border-spacing : 0;
}

.content table tr td
{
	border : 1px solid black;
	text-align : center;
	height : 90px; 
	width : 90px;
	border-spacing : 0;
}

td img
{
	display: block;
}

.content table tr:not(:first-child) td:not(:last-child).man
{ 
	background: url('../images/man.png') center no-repeat;
}

.content table tr:not(:first-child) td:not(:last-child).woman1
{ 
	background: url('../images/woman1.png') center no-repeat;
}

.content table tr:not(:first-child) td:not(:last-child).woman2
{ 
	background: url('../images/woman2.png') center no-repeat;
}

.content table tr:not(:first-child) td:not(:last-child).man.purple
{ 
	background: url('../images/man-purple.png') center no-repeat;
}

.content table tr:not(:first-child) td:not(:last-child).woman1.purple
{ 
	background: url('../images/woman1-purple.png') center no-repeat;
}

.content table tr:not(:first-child) td:not(:last-child).woman2.purple
{ 
	background: url('../images/woman2-purple.png') center no-repeat;
}